@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    overflow: auto;
}

h1, h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.back-arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.burger-menu {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #202020;
    color: #ffffff;
    z-index: 1000;
    transition: right 0.3s ease;
    padding: 20px;
    overflow-y: auto;
}

.sidebar-menu.active {
    right: 0;
}

.sidebar-menu::-webkit-scrollbar {
    width: 8px;
}

.sidebar-menu::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.sidebar-menu::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.nav-link {
    color: #ccc;
}

.nav-link:hover {
    color: #fff;
    background-color: #333;
}

.container {
    max-width: 100%;
}

.container0 {
    max-width: 100%;
    padding: 10px;
    margin-top: 15px;
}

#getting-started h2, #modules h2, #commands h2, #about h2{
    font-size: 1.50rem;
    color: #ffffff;
    margin-top: 20px;
}

.section-content h3 {
    font-size: 1.25rem;
    color: #f0f0f0;
    margin-top: 20px;
}

.section-content h4 {
    font-size: 1.1rem;
    color: #c4c4c4;
    margin-top: 20px;
    margin-left: 10px;
}

.section-content p, .section-content ul, .section-content pre {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #bbb;
    line-height: 25px;
}

ul {
    list-style-type: disc;
}

pre {
    font-size: 0.85rem;
    background: #222;
    padding: 0.5rem;
    border-radius: 5px;
}
