/* Quote of the Day */
#quote {
    display: block;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 20px;
}

li {
    list-style: none;
}

#cite {
    display: block;
    margin-top: 10px;
    font-size: 1.0rem;
}