.weather-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}

#temperature {
    font-size: 3rem;
    margin-top: -20px;
}

#location-info {
    margin-top: 10px;
}

#wind-speed {
    margin-top: -10px;
}

#humidity, #heat-index {
    margin-bottom: 5px;
}


